<div  class="m-4"  [formGroup]="mForm">
  <div style="display: flex; justify-content: space-between; margin: 10px">
  <h1 style="align-self: center; font-family: poppins">Maintenance Form</h1>
  <div style="display: flex; justify-content: end">
<div>
  <button mat-raised-button class="btn m-2" routerLink="../">
    <mat-icon class="mtIcon">add_circle</mat-icon>
    Back
  </button>

  <button mat-raised-button class="btn" (click)="save()">
    <mat-icon class="mtIcon">add_circle</mat-icon>
    Save
  </button>
</div>

  </div>
</div>

  <div class="example-full-width" cellspacing="0">
    <mat-form-field appearance="outline"  class="fontP" style="width: 28%; margin-right: 8%">
      <mat-label  >Maintenance Type</mat-label >
      <mat-select matNativeControl   formControlName="maintenanceType" class="fontP">
        <mat-option value="services"  class="fontP">Services</mat-option>
        <mat-option value="repair"  class="fontP">Repair</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" style="font-family: poppins; width: 28%;margin-right: 8%">
      <mat-label >Vehical Number</mat-label>
      <mat-select formControlName="vNumber">
        <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.vNumber" class="fontP" >
          {{vehicle.vNumber}}
        </mat-option>
      </mat-select>
    </mat-form-field>
 
     <mat-form-field appearance="outline" style="width: 28%;">
      <mat-label>Maintenance date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="mDate"/>

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
  </div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Maintenance Part</mat-label>
    <textarea matInput formControlName="mPart"></textarea>
  </mat-form-field>

  <div class="example-full-width" cellspacing="0">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Garage Name</mat-label>
      <input matInput formControlName="garageName" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>amount</mat-label>
      <input matInput formControlName="amount"/>
    </mat-form-field>
  </div>
 
</div>
