.example-form {
  //   min-width: 150px;
  //   max-width: 500px;
  //   width: 100%;

  
}

.example-full-width {
  width: 100%;
  font-family: poppins;
}

.fontP{
  font-family: poppins;
}

td {
  padding-right: 8px;
}

mat-form-field{
  font-family: poppins !important;
}

.btn{
  color:#B54941;
  font-family: poppins;
  background-color: #F8BFBB
}
.mtIcon{
  color:#B54941
}