<div style="margin: 30px" class="fontpop" [formGroup]="mForm">
  <h4 style="font-weight: 500; margin-bottom: 30px" class="fontpop">
    Maintenance Form
  </h4>

  <div class="example-full-width" cellspacing="0">
    <mat-form-field appearance="outline" formControlName="maintenanceType">
      <mat-label>Maintenance Type</mat-label>
      <mat-select (ngModel)]="selectedValue" name="man">
        <mat-option *ngFor="let man of maintenancesData" [value]="man.value">
          {{man.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vehical Number</mat-label>
      <input matInput formControlName="vNumber" matInput />
      <!-- [matAutocomplete]="auto" -->
      <!-- <mat-autocomplete
autoActiveFirstOption
        #auto="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option
        *ngFor="let vehicle of filteredOptions | async"
        [value]="vehicle"
        >{{vehicle.vNumber}}

        </mat-option>

</mat-autocomplete> -->
    </mat-form-field>
 
     <mat-form-field appearance="outline">
      <mat-label>Maintenance date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="mDate"/>

      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> 
  </div>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Maintenance Part</mat-label>
    <textarea matInput formControlName="mPart"></textarea>
  </mat-form-field>

  <div class="example-full-width" cellspacing="0">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Garage Name</mat-label>
      <input matInput formControlName="garageName" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>amount</mat-label>
      <input matInput formControlName="amount" />
    </mat-form-field>
  </div>
  <div style="display: flex; justify-content: end">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
