
table {
    width: 100%;
  }
  
  td,
  th {
    width: 15%;
    font-family: poppins !important;
  }
  
  .mtIcon{
    color:#B54941;
  }
  
  .fontP {
    font-family: Poppins;
  }
  
  .btn {
    color: #b54941;
    font-family: poppins;
    background-color: #f8bfbb;
  }
  
  mat-form-field {
    font-size: 12px;
    font-family: poppins !important;
  }