<div
  class="container mt-4 mb-2"
  style="display: flex; justify-content: space-between"
>
  <h1 style="align-self: center;font-family: poppins;">Dashboard</h1>
</div>
<div
  class="row"
  style="margin: 13px;"
  ngClass="{
  color red = 
}
"
>
  <app-dashboard-card
    class="col"
    title="Vehicles "
    [count]="data?.vehicles"
    icon="settings_input_antenna"
    color="#44CA87"
  >
  </app-dashboard-card>
  <app-dashboard-card
    class="col"
    title="Drivers"
    [count]="data?.drivers"
    icon="settings_input_antenna"
    color="#44CA87"
  >
  </app-dashboard-card>

  <app-dashboard-card
    class="col"
    title="Fuel"
    [count]="data?.fuels"
    icon="settings_input_antenna"
    color="#44CA87"
  >
  </app-dashboard-card
  >
  <app-dashboard-card
    class="col"
    title="Maintenance"
    [count]="data?.maintenaces"
    icon="settings_input_antenna"
    color="#44CA87"
  >
  </app-dashboard-card
  ><app-dashboard-card
  class="col"
  title="Insurance"
  [count]="data?.insurances"
  icon="settings_input_antenna"
  color="#44CA87"
>
</app-dashboard-card
>
</div>
