<div
  class="container mt-2 mb-2"
  style="display: flex; justify-content: space-between"
>
  <h2 style="align-self: center">Dashboard</h2>
</div>
<div 
class="row mt-4 ml-4"

ngClass="{
  color red = 
}
"
>
    <app-dashboard-card
    class="col"
    title="Drivers"
    [count]="data?.drivers"
    icon="Star"
    color="#44CA87"
    > </app-dashboard-card>
    <app-dashboard-card
    class="col"
    title="Driver "
    [count]="20"
    icon="settings_input_antenna"
    color="#44CA87"
    > </app-dashboard-card>
    <app-dashboard-card
    class="col"
    title="Driver "
    [count]="20"
    icon="settings_input_antenna"
    color="#44CA87"
    > </app-dashboard-card><app-dashboard-card
    class="col"
    title="Driver "
    [count]="20"
    icon="settings_input_antenna"
    color="#44CA87"
    > </app-dashboard-card>
</div>
