table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    font-family: poppins !important;
    width: 200px;
  }
  .fontP{
    font-family: Poppins;
  }
  td,
  th {
   // width: 25%;
    font-family: poppins !important;
  }
  

  .btn{
    color:#B54941;
    font-family: poppins;
    background-color: #F8BFBB
}
.mtIcon{
    color:#B54941
}
