table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    font-family: poppins !important;
    width: 100%;
  }
  .fontP{
    font-family: Poppins;
  }
  td,
  th {
    width: 25%;
    font-family: poppins !important;
  }
  