<div>
  <div class="row">
    <mat-form-field class="example-full-width col" appearance="outline">
      <mat-label>Vehicle Name</mat-label>
      <input matInput placeholder="Ex. Pizza" /> </mat-form-field
    ><mat-form-field class="example-full-width col" appearance="outline">
      <mat-label>Vehicle Number</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="example-full-width col" appearance="outline">
      <mat-label>Vehicle Insurance Company </mat-label>
      <input matInput placeholder="Ex. Pizza" /> </mat-form-field
    ><mat-form-field class="example-full-width col" appearance="outline">
      <mat-label>Insurance Start Date</mat-label>
      <input matInput placeholder="Ex. Pizza" /> </mat-form-field
    ><mat-form-field class="example-full-width col" appearance="outline">
      <mat-label>Insurance End Date</mat-label>
      <input matInput placeholder="Ex. Pizza" />
    </mat-form-field>
  </div>
</div>
