table
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  mat-card{
    height: 100%;

font-family: poppins !important;

  }
  
  th {
    width: 20%;
    border: 1px solid #c8c8c8;
  border-collapse: collapse;
  }
  td {
    width: 20%;
    border: 1px solid #c8c8c8;
    border-collapse: collapse;
  }
  