<div>
  <h1>Details</h1>
</div>


<th>Vehicle Number</th>
  <td>abcd123</td>
<!-- <table>
  <th>Vehicle Number</th>
  <td>abcd123</td>
  <table>
    <tr>
      <td>Maintenance type</td>
      <td style="border-right: 1px solid transparent !important">
        {{ data?.maintenanceType }}
      </td>
    </tr>

    <tr>
      <td>Maintenance Part</td>
      <td style="border-right: 1px solid transparent !important">
        {{ data?.mPart }}
      </td>
    </tr>
  </table>
  <table>
    <tr>
        <td>Maintenance type</td>
        <td style="border-right: 1px solid transparent !important">
          {{ data?.maintenanceType }}
        </td>
      </tr>
  </table>
</table> -->
<div>


<mat-card>
   <span> Maintenance type</span>
   
    {{"services"}}
    <span>Maintenance Part</span>
    {{"tyre"}}
    <span>date</span>
    {{"12/apr/2023"}}
</mat-card>
<mat-card>
    <span> Maintenance type</span>
    
     {{"services"}}
 </mat-card><mat-card>
    <span> Maintenance type</span>
    
     {{"services"}}
 </mat-card><mat-card>
    <span> Maintenance type</span>
    
     {{"services"}}
 </mat-card><mat-card>
    <span> Maintenance type</span>
    
     {{"services"}}
 </mat-card>
</div>