<div style="padding: 10px">
  <div>
    <h1>Details</h1>
  </div>

  <div style="margin-bottom: 10px">
    <div>
      <h2>Vehicle Number</h2>
      <div>
        <mat-card
          style="
            display: flex;
            margin-bottom: 15px;
            width: 450px;
            height: 150px;
          "
          *ngFor="let manData of MaintenanceData"
        >
          <table style="width: 425px" >
            <tr >
              <td style="border-right: 1px solid transparent !important">GarageName</td>
              <td>
                {{ manData.garageName }}
              </td>
            </tr>

            <tr>
              <td>mPart</td>
              <td>{{ manData.mPart }}</td>
            </tr>
            <tr>
              <td>MaintenanceType</td>
              <td>{{ manData.maintenanceType }}</td>
            </tr>
            <tr>
              <td>mDate</td>
              <td>{{manData.mDate | date}}</td>
            </tr>
            <tr>
              <td>amount</td>
              <td>{{manData.amount}}</td>
            </tr>
          </table>
          <!-- <h4>
    <li>GarageName {{manData.garageName}}</li></h4>
  <h4><li>
    mPart{{manData.mPart}}
  </li> </h4>
  <h4> MaintenanceType {{manData.maintenanceType}}</h4> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>
