table {
  width: 100%;
}

.mat-form-field {
  font-size: 12px;
  font-family: poppins !important;
  width: 80%;
}

td,
th {
  width: 20%;
  font-family: poppins !important;
}
.fontP{
  font-family: Poppins;
}
  

.mtIcon{
  color:#B54941
}

.btn{
  color:#B54941;
  font-family: poppins;
  background-color: #F8BFBB
}