table {
  width: 100%;
}

.mat-form-field {
  font-size: 12px;
  font-family: poppins !important;
  width: 80%;
}

td,
th {
  width: 14%;
  font-family: poppins !important;
}

.btn {
  color: #b54941;
  font-family: poppins;
  background-color: #f8bfbb;
}
.mtIcon {
  color: #b54941;
}
