.example-full-width {
  width: 100%;
  font-family: Poppins;
}

.btn {
  color: #b54941;
  font-family: poppins;
  background-color: #f8bfbb;
}
.mtIcon {
  color: #b54941;
}

mat-form-field {
  font-family: poppins !important;
}
